#main{
    position: absolute;
    font-family: 'Minecraftia';
    font-size: 50px;
}
#creepypasta{
    position: absolute;
    font-family: 'Minecraftia';
    font-size: 20px;
}
#history{
    position: absolute;
    font-family: 'Minecraftia';
    font-size: 20px;
    margin-bottom : 100px;
}