#main{
    position: relative;
    font-family: 'Minecraftia';
    font-size: 50px;
}
#pre-classic{
    position: relative;
    font-family: 'Minecraftia';
    font-size: 20px;
}
#classic{
    position: relative;
    font-family: 'Minecraftia';
    font-size: 20px;
}
#pre-classic{
    position: relative;
    font-family: 'Minecraftia';
    font-size: 20px;
}
#pre-classic{
    position: relative;
    font-family: 'Minecraftia';
    font-size: 20px;
}
#pre-classic{
    position: relative;
    font-family: 'Minecraftia';
    font-size: 20px;
}
#pre-classic{
    position: relative;
    font-family: 'Minecraftia';
    font-size: 20px;
}
#pre-classic{
    position: relative;
    font-family: 'Minecraftia';
    font-size: 20px;
}
#pre-classic{
    position: relative;
    font-family: 'Minecraftia';
    font-size: 20px;
}