.bg{
    position: relative;
    background-color: black;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
}
.bg1{
    position:absolute;
    scroll-behavior: smooth;
    background-color: black;
}
.history{
    position: relative;
    font-family: 'Chiller';
    font-size: 50px;
    color: #bb0000;
}
.text{
    position: relative;
    
}
.Unfirmial34{
    font-family: 'Chiller';
    position: relative;
    color: #bb0000;
    font-size: 80px;
}